* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft-gray: #DAE1E4;
    --light-gray: #F4F5F6;
    --medium-gray: #959EA4;
    --dark-gray: #424B51;
    --green-500: #1CB481;
}

html,
body {

    font-family: 'Mulish', sans-serif;
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

.color-primary {
    color: var(--light-gray);
    background: var(--green-500);
}

.color-inverted {
    color: var(--green-500);
    background: var(--light-gray);
}

.container {
    min-height: 100%;
    margin-bottom: -50px;
}

.heading {
    margin: 0 auto 3rem;
    justify-content: center;
    display: flex;
    width: 100%;
}

header {
    padding: 2rem 2rem;
    min-height: 100%;
    height: 100%;
}

.subnav {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.subnav div a {
    display: inline-block;
    vertical-align: bottom;
    text-align: end;
    margin-bottom: -0.3em;
}

.main {
    padding: 20px;
    flex: 1;
    min-height: 100%;
    height: 100%;
}

.main-treino {
    border-radius: 35px 35px 0 0;
}

.main_login {
    margin: 5rem auto;
    padding: 2rem;
    width: 100%;
}


.subtitulo {
    font-size: 2rem;
}

.avatar {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    border: 0.175em solid #FFF;
}

.semana {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.semana div {
    margin: 0.1em;
    padding: 0.1em 0.5em;
    border-radius: 1em;
}

.semana .ativa {
    background: var(--light-gray);
    color: var(--green-500);
}

.semana .feito {
    background: var(--soft-gray);
    color: var(--green-500);
}

.treino {
    border-radius: 1em;
    margin: 0.25em;
    padding: 0.5em;
    background: var(--green-500);
    color: #FFF;

}

.treino .infor-treino {
    margin: 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 0.5rem 2rem 0.5rem;
}

.menu {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    margin: auto;
    background: #f3f3f3;
    color: var(--dark-gray);
}
.menu a{
    margin: 2rem;
}
.menu .ativa{
    color: var(--green-500);
}
/* form control */
.color-primary .form-control {
    border-bottom: 1px solid var(--light-gray);
}

.color-inverted .form-control {
    border-bottom: 1px solid var(--green-500);
}

.form-group {
    margin-bottom: 1rem;
    position: relative;
    padding: 1.25rem;
}

.form-control {
    background: transparent;
    display: block;
    width: 100%;
}

.form-control:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.form-group label {
    display: block;
    margin-bottom: 0;
    position: absolute;
    top: 10%;
    pointer-events: none;
}

.form-control:focus~label,
.form-control input[type="email"]:invalid~label,
.form-control:valid~label {
    top: -0.75rem;
    font-size: 1rem;
}

.form-button {
    margin: 5rem auto;
    justify-content: center;
    display: flex;
    width: 100%;
    font-size: 1.75rem;
    font-weight: 700;
}

.btn {
    width: 90%;
    padding: 1.25rem;
    border-radius: 1rem;
    margin: 1rem;
    margin-bottom: 0;
}

.btn-form:hover {
    background: var(--soft-gray);
}

.user-header {
    display: flex;
    margin-top: 0;
}

.user {
    display: flex;
    margin-top: 1rem;

}

.user img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right: 10px;
}

.user-info {
    margin-left: 1rem;
}

.user-info h5 {
    color: var(--dark-gray);
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
}

.user-info small {
    color: var(--green-500);
    font-size: 1.5rem;
}

.user-info small span {
    color: var(--medium-gray);
}