.main_login {
  margin: 10rem auto;
  width: 100%;
}
.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5rem auto 0.5rem;
  justify-content: center;
  align-items: center;
}
