.container {
  min-height: 100%;
  color: var(--light-gray);
  background: var(--green-500);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem 0.5rem 2rem 0.5rem;
}

.heading {
  margin: 0 auto 3rem;
  justify-content: center;
  display: flex;
  width: 100%;
}

.form_group {
  margin-bottom: 1rem;
  position: relative;
  padding: 1.25rem;
}

.form_control {
  background: transparent;
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--light-gray);
}

.form_control:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.form_group label {
  display: block;
  margin-bottom: 0;
  position: absolute;
  top: 10%;
  pointer-events: none;
}

.form_control:focus~label,
.form_control input[type="email"]:invalid~label,
.form_control:valid~label {
  top: -0.75rem;
  font-size: 1rem;
}

.form_button {
  margin: 5rem auto;
  justify-content: center;
  display: flex;
  width: 100%;
  font-size: 1.75rem;
  font-weight: 700;
}

.btn {
  width: 90%;
  padding: 1.25rem;
  border-radius: 1rem;
  margin: 1rem;
  margin-bottom: 0;
}

.btn-form:hover {
  background: var(--soft-gray);
}